Requirements
 - Users should be able to sign up
     - For this I will need devise
     - 
     
 - What pages do I need?
     - My game page
     
     
 What models do I need?
 - Game Model
 
 - Task model
     - Name of Task (e.g. Programming - 30 Minute, Gym, Gym Record, Read - 30 Minutes). String.
     - Point/Value (10, 20, 15, 10). Integer.