Requirements
     
 - What pages do I need?
     - My game page
     
     
 What models do I need?
 - Game Model
 
 - Task model
     - Name of Task (e.g. Programming - 30 Minute, Gym, Gym Record, Read - 30 Minutes). String.
     - Point/Value (10, 20, 15, 10). Integer.
     
Migrations
Game
    - User_id -> Foreign Key
    - Title
    
Task
    - Name of task
    - Game_id -> Foreign Key
    - User_id -> Foreign Key
    - Point Value
    
Day
    - Game_id -> Foreign Key
    - Date -> Just the Year
    - Points -> The total Points for the Day
    
    