<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1 align="center">Edit Multiplier</h1>
        <div class="well">
            <%= render 'edit_multiplier_form' %>
        </div>
    </div>
</div>
