<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1 align="center">Multipliers for <%="#{@game.title}" %> </h1>
        <hr>
        
        <div class="panel panel-default">
            <div class="panel-heading well-border">
                <h4="panel-title">
                    <a data-toggle="collapse" data-parent="#accordian" href="#collapseOne">
                        <div align="center">Add New Multiplier</div>
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <%= render 'multiplier_form' %>
                </div>
            </div>
        </div>
        
        
        <table class="table table-striped table-hover table-responsive">
            <thead class="thead-inverse">
                <tr role="row">
                    <th>Description</th>
                    <th>Multiplication Factor</th>
                </tr>
            </thead>
            <tbody>
                <% @game.multipliers.each do |multiplier| %>
                    <tr>
                        <td><%= multiplier.description %></td>
                        <td><%= multiplier.multiplication.round(3) %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
        
        
    </div>
</div>