<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1 align="center">Enter a New Multiplier</h1>
        <h6 align="center"><%= link_to "Back to #{@game.title}", game_path(@game) %></h6>
        <div class="well">
            <%= render 'multiplier_form' %>
        </div>
    </div>
</div>