<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1 align="center">Enter a New Multiplier</h1>
        <div class="well">
            <%= render 'multiplier_form' %>
        </div>
    </div>
</div>