<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1 align="center">Create a New Level</h1>
        <div class="well">
            <%= render 'level_form' %>
        </div>
    </div>
</div>