@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}

.navbar-default {
    background-color: black;
}

.navbar-default .navbar-nav > li > a {
    color: gold;
} 

.navbar-default .navbar-brand {
    color: gold;
}